# DATA TRANSFORMATION - 19_consolidacion
## 0. Previos

Se cargan las bases y las librerías a utilizar.

In [8]:
# Librerías
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import numpy as np

import generic_funcions as gf
import adherence_functions as af
import warnings
warnings.filterwarnings('ignore')

ruta_archivos = 'C:/Users/monic/documentos/ds4a/project/datos/'

## 1. Load

In [2]:
dcc = gf.diccionario_llaves()

In [3]:
# execute initial file
files = 'C:/Users/monic/documentos/ds4a/ds4a_team80/1_data_transformation/1_consolidacion_mensual/'
file_0 = files + '0_initial.py'

exec(open(file_0).read())

In [4]:
base_consolidada = gf.base_ids_mensual( ruta_archivos )

In [5]:
base_consolidada.head()

       id  year  month
0  500547  2016      1
1  500547  2016      2
2  500547  2016      3
3  500547  2016      4
4  500547  2016      5

In [6]:
mods = ['Calidad de vida relacioada en salud','Hospitalizaciones', 'Urgencias', 'Farmacovigilancia RAM','Medicamentos','Vacunacion']
#mods = ['Vacunacion']

In [9]:
for m in mods :
    print(m)
    if m != 'Adherencia' :
        file_i = files + dcc[m]['prefi'] + '.py'
        exec(open(file_i).read())
    
        exec("base_consolidada = base_consolidada.merge( base_final_" + dcc[m]['prefi'] + ", how='left')")

Calidad de vida relacioada en salud
Hospitalizaciones
Urgencias
Farmacovigilancia RAM
Medicamentos
Vacunacion

In [10]:
base_consolidada.columns

Index(['id', 'year', 'month', 'cal_ent', 'cal_psi', 'cal_rel', 'cal_fis',
       'hos_num', 'hos_num_j', 'hos_est', 'hos_est_j', 'hos_uci', 'hos_uci_j',
       'hos_uce', 'hos_uce_j', 'urg_urg', 'urg_total', 'urg_j_urg',
       'urg_j_total', 'far_rea_asma', 'far_rea_total', 'far_evo_aun',
       'far_evo_con', 'far_des_no', 'far_des_si', 'far_mis_si', 'far_cau_def',
       'far_cau_otra', 'far_gra_leve', 'far_gra_mod', 'med_flag_j',
       'med_num_dis_otra', 'med_num_doses_j', 'med_num_doses_otra',
       'med_num_dis', 'med_flag_otra', 'vac_cant'],
      dtype='object')

In [11]:
base_consolidada.shape

(52320, 37)

In [12]:
base_consolidada.head()

,id,year,month,cal_ent,cal_psi,cal_rel,cal_fis,hos_num,hos_num_j,hos_est,...,far_cau_otra,far_gra_leve,far_gra_mod,med_flag_j,med_num_dis_otra,med_num_doses_j,med_num_doses_otra,med_num_dis,med_flag_otra,vac_cant
0,500547,2016,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,500547,2016,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,500547,2016,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,500547,2016,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,500547,2016,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
cols_base_consolidada = base_consolidada.columns

In [14]:
base_consolidada['nuls'] = base_consolidada.isnull().sum(axis = 1)

In [17]:
base_consolidada.groupby('nuls')['id'].count().reset_index(name='cuenta').sort_values('nuls')

   nuls  cuenta
0     0       4
1     1     184
2     4       9
3     5     379
4     8      32
5     9    1839
6    12    1172
7    13   48701

In [15]:
todo_null = base_consolidada.shape[1] - 4    #id, month, year, nuls
base_features = base_consolidada[base_consolidada['nuls'] < todo_null ]
base_features.reset_index( inplace = True )
base_features = base_features[cols_base_consolidada]
base_features.shape

(19877, 37)

In [16]:
base_features.head()

,id,year,month,cal_ent,cal_psi,cal_rel,cal_fis,hos_num,hos_num_j,hos_est,...,far_cau_otra,far_gra_leve,far_gra_mod,med_flag_j,med_num_dis_otra,med_num_doses_j,med_num_doses_otra,med_num_dis,med_flag_otra,vac_cant
0,500547,2016,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,5.0,0.0,1670.0,5.0,1.0,NaN
1,500547,2017,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,4.0,0.0,890.0,4.0,1.0,NaN
2,500547,2017,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,3.0,0.0,530.0,3.0,1.0,NaN
3,500547,2017,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,4.0,0.0,704.0,4.0,1.0,NaN
4,500547,2017,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,4.0,0.0,891.0,4.0,1.0,NaN

# Consolidación Variables
## Cruce con Adherencia

In [17]:
base_ad = af.base_features_adeherencia0( ruta_archivos, dcc, ids )

In [18]:
base_ad.head()

       id  year  month  adeherencia_0  key  year_c  month_c  d_meses
0  500547  2016      7              1    1    2016        1        6
1  500547  2016      7              1    1    2016        2        5
2  500547  2016      7              1    1    2016        3        4
3  500547  2016      7              1    1    2016        4        3
4  500547  2016      7              1    1    2016        5        2

In [19]:
base_ad.describe()

,id,year,month,adeherencia_0,key,year_c,month_c,d_meses
count,1.041250e+05,104125.000000,104125.000000,104125.000000,104125.0,104125.000000,104125.000000,104125.000000
mean,1.239904e+06,2018.528355,6.197666,0.782070,1.0,2017.014713,6.092408,18.268965
std,4.374849e+05,1.027182,3.463666,0.412842,0.0,1.009565,3.433074,12.243597
min,5.005470e+05,2016.000000,1.000000,0.000000,1.0,2016.000000,1.000000,1.000000
25%,8.634620e+05,2018.000000,3.000000,1.000000,1.0,2016.000000,3.000000,8.000000
50%,1.227104e+06,2019.000000,6.000000,1.000000,1.0,2017.000000,6.000000,16.000000
75%,1.629016e+06,2019.000000,9.000000,1.000000,1.0,2018.000000,9.000000,27.000000
max,1.999629e+06,2020.000000,12.000000,1.000000,1.0,2020.000000,12.000000,52.000000

In [20]:
base_cruce = base_ad.merge( base_features , how = 'inner', 
                            left_on=['id','year_c','month_c'], right_on = ['id','year','month'] )

In [21]:
base_cruce.shape

(36967, 44)

## Definiciones varias

In [22]:
idx = ['id', 'year_x', 'month_x']

In [23]:
calculos = {
    'sum'  : {'variables' : ['far_rea_asma', 'far_rea_total','far_evo_aun','far_cau_def', 'far_cau_otra','far_gra_leve','far_gra_mod',
                            'hos_num','hos_num_j','hos_uci','hos_uci_j','hos_uce','hos_uce_j','hos_est','hos_est_j',
                            'med_num_dis','med_flag_j','med_flag_otra',
                            'urg_urg', 'urg_total','urg_j_urg', 'urg_j_total','vac_cant'] },
    'avg'  : {'variables' : ['cal_ent','cal_psi', 'cal_rel', 'cal_fis','med_num_doses_j', 'med_num_doses_otra'] },
    'flag' : {'variables' : ['far_rea_asma', 'far_rea_total','far_rea_asma', 'far_rea_total','far_rea_asma', 'far_rea_total','far_evo_con','far_des_si','far_des_no','far_mis_si',
                                    'med_flag_j','med_flag_otra','vac_cant']},
    'var'  : {'variables' : ['cal_ent','cal_psi', 'cal_rel', 'cal_fis',
                             'med_num_doses_j', 'med_num_doses_otra']}
           }

# 12 meses

In [24]:
nmeses = 12
calculo = 'sum'
base_12 = base_cruce[base_cruce['d_meses'] <= nmeses]
base_12.shape

(20769, 44)

In [25]:
base_12.columns

Index(['id', 'year_x', 'month_x', 'adeherencia_0', 'key', 'year_c', 'month_c',
       'd_meses', 'year_y', 'month_y', 'cal_ent', 'cal_psi', 'cal_rel',
       'cal_fis', 'hos_num', 'hos_num_j', 'hos_est', 'hos_est_j', 'hos_uci',
       'hos_uci_j', 'hos_uce', 'hos_uce_j', 'urg_urg', 'urg_total',
       'urg_j_urg', 'urg_j_total', 'far_rea_asma', 'far_rea_total',
       'far_evo_aun', 'far_evo_con', 'far_des_no', 'far_des_si', 'far_mis_si',
       'far_cau_def', 'far_cau_otra', 'far_gra_leve', 'far_gra_mod',
       'med_flag_j', 'med_num_dis_otra', 'med_num_doses_j',
       'med_num_doses_otra', 'med_num_dis', 'med_flag_otra', 'vac_cant'],
      dtype='object')

In [27]:
base_12.head()

,id,year_x,month_x,adeherencia_0,key,year_c,month_c,d_meses,year_y,month_y,...,hos_est,hos_est_j,hos_uci,hos_uci_j,hos_uce,hos_uce_j,urg_urg,urg_total,urg_j_urg,urg_j_total
6,500547,2019,3,1,1,2018,12,3,2018,12,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0
7,500547,2019,10,1,1,2018,12,10,2018,12,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0
8,500547,2019,12,1,1,2018,12,12,2018,12,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0
12,500547,2019,3,1,1,2019,1,2,2019,1,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,0.0,0.0
13,500547,2019,10,1,1,2019,1,9,2019,1,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,0.0,0.0

In [27]:
variables_insumo = calculos[calculo]['variables']
variables_insumo

['far_rea_asma',
 'far_rea_total',
 'far_evo_aun',
 'far_cau_def',
 'far_cau_otra',
 'far_gra_leve',
 'far_gra_mod',
 'hos_num',
 'hos_num_j',
 'hos_uci',
 'hos_uci_j',
 'hos_uce',
 'hos_uce_j',
 'hos_est',
 'hos_est_j',
 'med_num_dis',
 'med_flag_j',
 'med_flag_otra',
 'urg_urg',
 'urg_total',
 'urg_j_urg',
 'urg_j_total',
 'vac_cant']

In [28]:
base_12_sum = base_12.groupby(idx)[variables_insumo].sum().reset_index()

In [29]:
base_12_sum.head()

,id,year_x,month_x,far_rea_asma,far_rea_total,far_evo_aun,far_cau_def,far_cau_otra,far_gra_leve,far_gra_mod,...,hos_est,hos_est_j,med_num_dis,med_flag_j,med_flag_otra,urg_urg,urg_total,urg_j_urg,urg_j_total,vac_cant
0,500547,2019,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,40.0,1.0,9.0,1.0,3.0,0.0,0.0,1.0
1,500547,2019,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,36.0,1.0,11.0,1.0,7.0,0.0,0.0,0.0
2,500547,2019,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,40.0,1.0,11.0,1.0,7.0,0.0,0.0,1.0
3,500547,2020,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,41.0,0.0,11.0,0.0,6.0,0.0,0.0,1.0
4,500547,2020,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,44.0,1.0,11.0,1.0,5.0,0.0,0.0,1.0

In [31]:
base_12_sum.sort_values('hos_num', ascending = False).head()

,id,year_x,month_x,far_rea_asma,far_rea_total,far_evo_aun,far_cau_def,far_cau_otra,far_gra_leve,far_gra_mod,...,hos_est,hos_est_j,med_num_dis,med_flag_j,med_flag_otra,urg_urg,urg_total,urg_j_urg,urg_j_total,vac_cant
523,742708,2019,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,315.0,0.0,18.0,6.0,9.0,0.0,0.0,0.0,0.0,0.0
522,742708,2019,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,171.0,0.0,19.0,6.0,9.0,0.0,0.0,0.0,0.0,0.0
521,742708,2019,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,159.0,0.0,23.0,7.0,9.0,0.0,0.0,0.0,0.0,0.0
2626,1772651,2019,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,77.0,74.0,31.0,10.0,11.0,2.0,2.0,1.0,1.0,0.0
669,817538,2019,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,53.0,20.0,28.0,7.0,8.0,10.0,12.0,0.0,0.0,0.0