# DATA TRANSFORMATION - 15_Habitos
## 0. Previos

Se cargan las bases y las librerías a utilizar.

In [1]:
# Librerías
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import numpy as np

import generic_funcions as gf

ruta_archivos = 'Data/'

## 1. Load

In [2]:
modulo = 'Ayudas_diagnosticas'

In [3]:
dcc = gf.diccionario_llaves()

In [4]:
base = gf.carga_datos( ruta = ruta_archivos, diccionario = dcc, modulo = modulo )
base.head()

,id,fecha,Manual_Proced_Desc,Result_Ayuda_Diag_Txt,year,month,year_month
0,417594,2019-08-05,Colesterol Total,145.0,2019,8,201908
1,423128,2019-11-26,Colesterol Total,235.0,2019,11,201911
2,423128,2019-05-16,Colesterol Total,199.0,2019,5,201905
3,423128,2018-06-28,Colesterol Total,256.0,2018,6,201806
4,423128,2017-12-22,Colesterol Total,226.0,2017,12,201712

## 2. Transform

In [14]:
# Elimina dplicados
base = base.drop_duplicates()

In [10]:
base_ = base.groupby(['id','year','month'])["id"].count().\
    reset_index( name = 'ayu_exa' )
base_

               id  year  month  ayu_exa
0          417594  2019      8        1
1          423128  2017      1        1
2          423128  2017     12        1
3          423128  2018      6        1
4          423128  2019      5        1
...           ...   ...    ...      ...
3006   1152188943  2019      3        1
3007   1152209220  2017     11        1
3008   1152436308  2017      6        1
3009   1152454475  2019      3        1
3010  99092316137  2017      4        1

[3011 rows x 4 columns]

## 3. Merge with ids table

In [11]:
# 2016 - 2020
ids_mensual = gf.base_ids_mensual( ruta_archivos )
base_final_ayu = ids_mensual.merge( base_, how='left')
base_final_ayu.head()

       id  year  month  ayu_exa
0  500547  2016      1      NaN
1  500547  2016      2      NaN
2  500547  2016      3      NaN
3  500547  2016      4      NaN
4  500547  2016      5      NaN

In [12]:
base_final_ayu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53280 entries, 0 to 53279
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       53280 non-null  int64
 1   year     53280 non-null  int64
 2   month    53280 non-null  int64
 3   ayu_exa  2267 non-null   float64
dtypes: float64(1), int64(3)
memory usage: 2.0 MB