# Datos Basicos

In [1]:
# Librerías
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Base de interés
ruta = 'Data/'

DatosBasicos = pd.read_excel(ruta +'Datos basicos.xlsx')

## 1. Acotando Variables

### Datos Basicos

In [3]:
def letra_lower( df, columna ):
    a = df[columna].dtype
    for col in df.columns:
        if df[col].dtype == a:
            df[col] = df[col].str.lower()
    return df

In [4]:
# rename columnas
DatosBasicos = DatosBasicos.rename(columns={'FE_NACIMIENTO' : 'fecha_n', 'AcompaÃ±ante' : 'acompanante'})

# columnas a lower
DatosBasicos.columns = DatosBasicos.columns.str.lower()

In [5]:
# fecha de nacimiento 
DatosBasicos[ 'fecha_n' ] = pd.to_datetime(DatosBasicos["fecha_n"])
DatosBasicos['year_n'] = DatosBasicos[ 'fecha_n' ].apply( lambda x : x.year )
DatosBasicos['month_n'] = DatosBasicos[ 'fecha_n' ].apply( lambda x : x.month )

# drop a columnas
DatosBasicos.drop(columns=['edad', 'preferencia', 'acompanante','regimen','tipoafiliacion','relacionlaboral'], inplace= True)

DatosBasicos

,id,genero,escolaridad,estadocivil,departamento,ciudad,estrato,zona,nivelsocioeconomico,ocupacion,fecha_n,year_n,month_n
0,500547,M,SECUNDARIA,CASADO (A),ANTIOQUIA,MEDELLIN,3.0,URBANA,A,EMPLEADO,1962-05-19,1962.0,5.0
1,500588,M,PRIMARIA,SOLTERO (A),CUNDINAMARCA,BOGOTA,2.0,URBANA,B,ESTUDIANTE,2004-12-19,2004.0,12.0
2,502989,M,UNIVERSITARIO,SOLTERO (A),ANTIOQUIA,MEDELLIN,3.0,URBANA,A,SIN DEFINIR,1990-08-22,1990.0,8.0
3,506808,M,EDAD PREESCOLAR,SOLTERO (A),ANTIOQUIA,BELLO,1.0,URBANA,A,ESTUDIANTE,2008-10-06,2008.0,10.0
4,512938,F,SECUNDARIA,SOLTERO (A),ANTIOQUIA,MEDELLIN,3.0,URBANA,A,EMPLEADO,1997-10-15,1997.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,1997065,M,EDAD PREESCOLAR,SOLTERO (A),ANTIOQUIA,MEDELLIN,3.0,URBANA,B,ESTUDIANTE,2011-03-20,2011.0,3.0
884,1997825,F,UNIVERSITARIO,SOLTERO (A),ATLANTICO,BARRANQUILLA,3.0,URBANA,B,EMPLEADO,1991-12-27,1991.0,12.0
885,1998401,F,SECUNDARIA,CASADO (A),ANTIOQUIA,MEDELLIN,2.0,URBANA,A,AMA DE CASA,1970-01-11,1970.0,1.0
886,1999536,F,UNIVERSITARIO,SOLTERO (A),CALDAS,MANIZALES,4.0,URBANA,B,EMPLEADO,1991-09-10,1991.0,9.0
887,1999629,F,PRIMARIA,SOLTERO (A),ANTIOQUIA,MEDELLIN,3.0,URBANA,A,ESTUDIANTE,1998-11-14,1998.0,11.0

In [36]:
# exporta
DatosBasicos.to_csv('DatosBasicos.csv',sep='|')