In [1]:
import json
import requests
#from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


# Required for formatting dates later in the case
import datetime
import matplotlib.dates as mdates

In [3]:
# Load a file as a DataFrame and assign to df
df = pd.read_excel("Data/Habitos.xlsx")

In [4]:
df.keys()

Index(['DS_IDENTIFICACION', 'Tipo', 'Habito2', 'Habito3', 'FE_INICIO',
       'FE_FIN', 'DS_OBSERVACION', 'Fe_Registro'],
      dtype='object')

In [5]:
col = np.char.lower(np.array(df.keys(), dtype='U'))
col[0] = 'id'
df.columns = col

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1931 entries, 0 to 1930
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1931 non-null   int64
 1   tipo            1931 non-null   object
 2   habito2         1930 non-null   object
 3   habito3         123 non-null    object
 4   fe_inicio       116 non-null    datetime64[ns]
 5   fe_fin          28 non-null     datetime64[ns]
 6   ds_observacion  95 non-null     object
 7   fe_registro     1931 non-null   datetime64[ns]
dtypes: datetime64[ns](3), int64(1), object(4)
memory usage: 120.8+ KB

In [8]:
# Cambiar texto a minuscula.
a = df['tipo'].dtype

for col in df.columns:
    if df[col].dtype == a:
        df[col] = df[col].str.lower()

In [9]:
df

,id,tipo,habito2,habito3,fe_inicio,fe_fin,ds_observacion,fe_registro
0,547351,alcohol,bebedor moderado,NaN,NaT,NaT,dia por medio,2012-06-29
1,1123102,alcohol,abstemio,NaN,NaT,NaT,NaN,2010-12-02
2,788432,alcohol,abstemio,NaN,NaT,NaT,NaN,2014-02-20
3,885255,alcohol,abstemio,NaN,NaT,NaT,NaN,2016-02-02
4,1261121,alcohol,bebedor moderado,NaN,NaT,NaT,NaN,2019-07-09
...,...,...,...,...,...,...,...,...
1926,1132214,sustancias psicoactivas,abstemio,NaN,NaT,NaT,NaN,2014-09-09
1927,1128432,sustancias psicoactivas,abstemio,NaN,NaT,NaT,NaN,2014-06-20
1928,1181123,sustancias psicoactivas,abstemio,NaN,NaT,NaT,NaN,2014-01-03
1929,1728166,sustancias psicoactivas,abstemio,NaN,NaT,NaT,NaN,2015-09-01
1930,1343127,sustancias psicoactivas,abstemio,NaN,NaT,NaT,NaN,2015-01-21

## ID analisis ##

In [10]:
id_df = pd.DataFrame(df["id"].value_counts()).reset_index()
id_df.columns = ['id', 'count']
print(id_df['count'].sum())
id_df

1931

          id  count
0    1437443     16
1    1028001     16
2    1226479     16
3     692765     14
4    1764814     13
..       ...    ...
514  1647150      1
515  1807645      1
516  1976243      1
517  1460766      1
518  1437167      1

[519 rows x 2 columns]

In [11]:
pd.DataFrame(df["tipo"].value_counts()).reset_index()

                     index  tipo
0  metodo de planificacion   443
1               cigarrillo   344
2                  alcohol   279
3                ejercicio   257
4             alimentacion   182
5                 mascotas   167
6          consumo de cafe   114
7           estado anÃ­mico    99
8  sustancias psicoactivas    46

## Habito ##

In [12]:
pd.DataFrame(df["habito2"].value_counts()).reset_index()

                                        index  habito2
0                                          no      475
1                                    abstemio      259
2                                   no aplica      144
3                                no planifica      140
4                          buena alimentacion      139
5                        no realiza ejercicio      136
6                                          si      136
7                        animicamente estable       85
8                                   el condon       65
9                    pildoras anticonceptivas       45
10                                     diario       37
11                             bebedor social       32
12                        ligadura de trompas       31
13                         3 veces por semana       30
14                           1 vez por semana       25
15                        bebedor excepcional       22
16                         2 veces por semana       22
17                             dieta especial       21
18                       regular alimentacion       18
19                     animicamente inestable       13
20                             fumador pasivo       12
21                           bebedor moderado        9
22                         4 veces por semana        5
23           dispositivo endoceptivo o mirena        4
24  t de cobre o dispositivo intrauterino diu        4
25                     muy buena alimentacion        3
26                              histerectomia        3
27                                 inyectable        3
28                                 vasectomia        2
29          gimnasio varias veces a la semana        2
30                                sin definir        2
31            bebedor abusivo sin dependencia        2
32                        implante subdermico        2
33                                     adicto        1
34              muy bajo consumo de alimentos        1

In [15]:
hab_df =df.groupby(["tipo","habito2"])["id"].count().reset_index(name="count")\
.sort_values(by="tipo", ascending = False).reset_index(drop=True)
hab_df

                       tipo                                    habito2  count
0   sustancias psicoactivas                                     adicto      1
1   sustancias psicoactivas                                   abstemio     45
2   metodo de planificacion                        ligadura de trompas     31
3   metodo de planificacion           dispositivo endoceptivo o mirena      4
4   metodo de planificacion                                  el condon     65
5   metodo de planificacion                              histerectomia      3
6   metodo de planificacion                        implante subdermico      2
7   metodo de planificacion                                 inyectable      3
8   metodo de planificacion                                  no aplica    144
9   metodo de planificacion                               no planifica    140
10  metodo de planificacion                   pildoras anticonceptivas     45
11  metodo de planificacion  t de cobre o dispositivo intrauterino diu      4
12  metodo de planificacion                                 vasectomia      2
13                 mascotas                                sin definir      2
14                 mascotas                                         si     59
15                 mascotas                                         no    106
16           estado anÃ­mico                     animicamente inestable     13
17           estado anÃ­mico                       animicamente estable     85
18                ejercicio                       no realiza ejercicio    136
19                ejercicio          gimnasio varias veces a la semana      2
20                ejercicio                         4 veces por semana      5
21                ejercicio                         3 veces por semana     30
22                ejercicio                         2 veces por semana     22
23                ejercicio                           1 vez por semana     25
24                ejercicio                                     diario     37
25          consumo de cafe                                         si     49
26          consumo de cafe                                         no     65
27               cigarrillo                             fumador pasivo     12
28               cigarrillo                                         no    304
29               cigarrillo                                         si     28
30             alimentacion                       regular alimentacion     18
31             alimentacion                     muy buena alimentacion      3
32             alimentacion              muy bajo consumo de alimentos      1
33             alimentacion                             dieta especial     21
34             alimentacion                         buena alimentacion    139
35                  alcohol                           bebedor moderado      9
36                  alcohol                        bebedor excepcional     22
37                  alcohol            bebedor abusivo sin dependencia      2
38                  alcohol                             bebedor social     32
39                  alcohol                                   abstemio    214

In [16]:
hab_df[hab_df['tipo']=='alcohol'].sum()

tipo                     alcoholalcoholalcoholalcoholalcohol
habito2    bebedor moderadobebedor excepcionalbebedor abu...
count                                                    279
dtype: object