# FINAL EDA - Decision tree
## 0. Previos

Se cargan las bases y las librerías a utilizar.

In [1]:
# Librerías
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation 

import warnings
warnings.filterwarnings('ignore')

ruta_archivos = 'C:/Users/monic/documentos/ds4a/ds4a_team80/1_data_transformation/'

## 1. Carga de Datos

In [2]:
base = pd.read_csv( ruta_archivos + 'base_adeherencia_features_0.csv', sep='|' )
base.head()

,id,year,month,adeherencia_0,key,far_rea_asma_sum_6,far_rea_total_sum_6,far_evo_aun_sum_6,far_cau_def_sum_6,far_cau_otra_sum_6,...,hab_alcohol_avg_12,hab_cigarrillo_avg_12,hab_ejercicio_avg_12,inc_con_sum_6,inc_inc_sum_6,inc_con_sum_12,inc_inc_sum_12,imc_avg_6,imc_avg_12,imc_foto
0,500547,2016,7,1,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,3.0,0.0,3.0,NaN,NaN,NaN
1,500547,2019,3,1,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,500547,2019,10,1,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.8,NaN
3,500547,2019,12,1,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.8,NaN
4,500547,2020,1,1,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.8,NaN

## 2. Modelo

In [3]:
base_ = base.fillna(-1)

X = base_[base.columns[5:]] # Features
y = base_['adeherencia_0'] # Target variable

In [4]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(max_depth = 5)

# Train Decision Tree Classifer
clf = clf.fit(X,y)

In [5]:
%matplotlib inline
#do code to support model
#"data" is the X dataframe and model is the SKlearn object

feats = {} # a dict to hold feature_name: feature_importance
for feature, importance in zip(X.columns, clf.feature_importances_):
    feats[feature] = importance #add the name/value pair 

importances = pd.DataFrame.from_dict(feats, orient='index').rename(columns={0: 'importance'})
importances.reset_index(inplace = True)

In [7]:
importances[importances['importance'] > 0].sort_values('index', ascending = False)

                        index  importance
58   med_num_doses_otra_avg_6    0.026623
57      med_num_doses_j_avg_6    0.020364
62     med_num_doses_j_avg_12    0.019095
54          med_num_dis_sum_6    0.026326
61       med_flag_otra_sum_12    0.010082
55           med_flag_j_sum_6    0.047308
60          med_flag_j_sum_12    0.185734
64            med_flag_j_flag    0.024593
140             inc_inc_sum_6    0.026583
142            inc_inc_sum_12    0.291259
145                  imc_foto    0.087797
143                 imc_avg_6    0.031619
144                imc_avg_12    0.081843
44              hos_est_sum_6    0.031031
34            far_des_no_flag    0.012901
83             cal_rel_avg_12    0.014834
82             cal_psi_avg_12    0.025456
90    act_punt_control_avg_12    0.010345
98        acd_ef_sueno_avg_12    0.026205